body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: antiquewhite;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cuenta{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.resultado{
    display: flex;
    justify-content: center;
    margin: 5px;
}
input{
    margin: 5px 0 5px 0;
}